modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEXTAUTH_URL = "https://e1a9a0ed-3ef0-4632-b20c-cf23efe9addc-00-mcl9bwxsxr1f.spock.replit.dev"
AUDIT_STORE_IP = "false"
RESEND_FROM_EMAIL = "Secure Link <onboarding@resend.dev>"
TWILIO_FROM_NUMBER = "+12028739162"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
